.button {
  padding: 8px 16px;
  position: relative;
}

.button_children {
  position: relative;
}

.button[data-button-emphasis="medium"] {
  border: solid 1px hsl(
    var(--interactive-primary-color)
    calc(100% * var(--interactive-saturation-modifier))
    calc(50% * var(--interactive-lightness-modifier))
  );

  background: white;
  text-shadow: 0px 0px 8px white;
}

.button[data-button-emphasis="high"] {
  --text-lightness: 100%;
}

.button .hover_film {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: width .5s;
  background: #999;
  backdrop-filter: blur(4px) brightness(90%);
  border-right: solid 1px #0001;
}

.button:hover .hover_film {
  width: 100%;
}