.top_xxl {
  margin-top: var(--global-spacer-xxl);
}
.right_xxl {
  margin-right: var(--global-spacer-xxl);
}
.bottom_xxl {
  margin-bottom: var(--global-spacer-xxl);
}
.left_xxl {
  margin-left: var(--global-spacer-xxl);
}

.top_xl {
  margin-top: var(--global-spacer-xl);
}
.right_xl {
  margin-right: var(--global-spacer-xl);
}
.bottom_xl {
  margin-bottom: var(--global-spacer-xl);
}
.left_xl {
  margin-left: var(--global-spacer-xl);
}

.top_lg {
  margin-top: var(--global-spacer-lg);
}
.right_lg {
  margin-right: var(--global-spacer-lg);
}
.bottom_lg {
  margin-bottom: var(--global-spacer-lg);
}
.left_lg {
  margin-left: var(--global-spacer-lg);
}

.top_md {
  margin-top: var(--global-spacer-md);
}
.right_md {
  margin-right: var(--global-spacer-md);
}
.bottom_md {
  margin-bottom: var(--global-spacer-md);
}
.left_md {
  margin-left: var(--global-spacer-md);
}

.top_sm {
  margin-top: var(--global-spacer-sm);
}
.right_sm {
  margin-right: var(--global-spacer-sm);
}
.bottom_sm {
  margin-bottom: var(--global-spacer-sm);
}
.left_sm {
  margin-left: var(--global-spacer-sm);
}

.top_xs {
  margin-top: var(--global-spacer-xs);
}
.right_xs {
  margin-right: var(--global-spacer-xs);
}
.bottom_xs {
  margin-bottom: var(--global-spacer-xs);
}
.left_xs {
  margin-left: var(--global-spacer-xs);
}

.top_xxs {
  margin-top: var(--global-spacer-xxs);
}
.right_xxs {
  margin-right: var(--global-spacer-xxs);
}
.bottom_xxs {
  margin-bottom: var(--global-spacer-xxs);
}
.left_xxs {
  margin-left: var(--global-spacer-xxs);
}